{
  "ollama_model": "gemma2:2b",
  "db_filename": "jn-66.db",
  "bot_prefix": "!",
  "log_location": "<absolute-path-to>/jn-66.log",
  "conversation_model": "gemma2:2b",
  "coder_model": "qwen2.5-coder:1.5b",
  "sandbox_url": "http://localhost:5000/execute",
  "local_timezone": "America/New_York",
  "username": "You",
  "botname": "JN-66"
  "calendars_to_check": [
    { "summary": "your_email@example.com", "description": "A description for this calendar" }
  ]
}